/.vs
/u5win/.vs
/u5win/x64
/u5win/u5win
/u5win/vcpkg_installed
/u5win/*.user
*.o
*.d
*.OBJ
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/build/
__pycache__/
Ultima 5/Music/01 - Ultima Theme.mp3
Ultima 5/Music/02 - Britannic Lands.mp3
Ultima 5/Music/03 - Cap'n Johne's Hornpipe.mp3
Ultima 5/Music/04 - Engagement and Malee.mp3
Ultima 5/Music/05 - Stones.mp3
Ultima 5/Music/06 - Greyson's Tale.mp3
Ultima 5/Music/07 - Fanfare for the Virtuous.mp3
Ultima 5/Music/08 - The Missing Monarch.mp3
Ultima 5/Music/09 - Villager Tarantella.mp3
Ultima 5/Music/10 - Halls of Doom.mp3
Ultima 5/Music/11 - Worlds Below.mp3
Ultima 5/Music/12 - Lord Blackthorn.mp3
Ultima 5/Music/13 - Dream of Lady Nan.mp3
Ultima 5/Music/14 - Joyous Reunion.mp3
Ultima 5/Music/15 - Rule Britannia.mp3
Ultima 5/Music/16 - Amiga Theme.mp3
